.card{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 509px;
    cursor: pointer;
}



.card__header{
    display: flex;
    width: 320px;
    height: 480px;
    position: relative;
    background-image: url("/src/images/Back.svg");
    border-radius: 17px;
    border: 4px #1698D9 solid;
    clip-path: polygon(15.7% 0, 100% 0, 100% 100%, 0 100%, 0 10.7%);
}

.card__header_selected {
    display: flex;
    width: 320px;
    height: 480px;
    position: relative;
    background-image: url("/src/images/Back.svg");
    border-radius: 17px;
    clip-path: polygon(15.7% 0, 100% 0, 100% 100%, 0 100%, 0 10.7%);
    border: 4px #D91667 solid;
}

.card__header_disabled {
    display: flex;
    width: 320px;
    height: 480px;
    position: relative;
    background-image: url("/src/images/Back.svg");
    border-radius: 17px;
    clip-path: polygon(15.7% 0, 100% 0, 100% 100%, 0 100%, 0 10.7%);
    border: 4px #B3B3B3 solid;
}

.card__header_block{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 51px;
}

.card__header_title{
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    margin-top: 21px;
}

.card__header_name{
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color:#000000;
    margin-top: 5px;
    margin-bottom: 0;
}

.card__header_taste{
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color:#000000;
    margin: 0;
    text-align: start;
}

.card__header_portion{
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    margin: 15px 0 0;
    text-align: start;
}

.card__header_portion1{
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
    margin:0;
    text-align: start;
    width: 140px;
}

.card__circle{
    position: absolute;
    background-color: #1698D9;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    right: 16px;
    bottom: 16px;
    display: flex;
    flex-direction: column;
}

.card__circle_selected{
    background-color: #D91667;
}

.card__circle_text{
    text-align: center;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 22px;
    margin: 25% auto 10px;
}

.card__circle_text1{
    text-align: center;
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 22px;
    margin: 0;
}

.card__paragraph{
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}

.card__paragraph_link{
    color: #1698D9;
    text-decoration: none;
    border-bottom: 1px dashed #1698D9;
}



